.Delete {
    border-color: #2196f3 !important;
  }
  
  .modal2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #2A3E4C;
    padding: 20px;
    border-radius: 10px;
  }
  
  .modal-actions2 {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-actions2 > button {
    width: 170px !important;
  }