.Edit:active {
    background-color: #2196f3 !important;
    border-radius: 1px !important;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 550px;
    height: 210px;
    background-color: #2A3E4C;
    padding: 20px;
    border-radius: 5px;
}

.textfield {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 530px;
}

.modal-actions {
    margin: 10px 5px 0 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.modal-actions > button {
    width: 235px !important;
    border-color: #2196f3 !important;
}

.modal-actions >:active {
    background-color: #2196f3 !important;
}